body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0;
  background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.img-home {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: small;
  border-radius: 30px;
  background-color: #329DF4;
	border: 4px solid #fff;
	color: white;
	font-size: 1.8em;
	font-weight: bold;
	padding: 15px 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 80ms ease-in !important;
}

.btn:hover {
  color:#329DF4;
  background-color: white;
  transition: all ease 0.3s;
}

.btn a {
  text-decoration: none;
  color: #FA6C98;
}

.btn:hover a {
  color: #329DF4;
  transition: all ease 0.3s;
}



/*......... NAVBAR ........*/

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: white;
  opacity: 0.85;
  height: 4em;
  z-index: 12;
  text-align: center;
  align-items: center !important;
  display: inline-block;
}

.link-reg {
  float: right;
  margin-right: 2em;
}

nav ul li {
  float: left;
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 2em;
  align-items: center;
  padding-top: 0em;
}

nav ul li a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Asap Condensed', sans-serif;
}

nav ul li a:hover {
  color: #329DF4;
  transition: color 0.3s ease-in-out;
}

/*---------- MEDIA NAVBAR ------------*/

@media (max-width: 1000px) {
nav ul li {
  display: inline-block;
  font-size: 1.1rem;
  margin-left: 2em;
  align-items: center;
  padding-top: 0em;
}
}

@media (max-width: 800px) {
  nav ul li {
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 2em;
    align-items: center;
    padding-top: 0em;
  }

  .navbar {
    height: 3em
  }
  }


  @media (max-width: 600px) {
    nav ul li {
      display: inline-block;
      font-size: 0.8rem;
      margin-left: 2em;
      align-items: center;
      padding-top: 0em;
    }
  
    .navbar {
      height: 2.5em
    }
    }




@media (max-width: 500px) {
  .navbar {
    display: inline-block;
    height: 3.2em;
  }

  nav ul li {
    font-size: 1em;
    margin-left: 0.6em;
  }

}


@media (max-width: 400px) {

  .navbar {
    display: inline-block;
    height: 3.2em;
  }

  nav ul li {
    font-size: 0.8em;
    margin-left: 0.4em;
  }

}












/* ............//// PAGINA HOME ////......... */


/*------------ MEDIA PAGINA HOME ------------*/

@media (min-width: 412px) and (max-width: 500px) {
  .img-home {
    width: 100%;
    height: 190vh;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
  }
  
  #showcase-area {
    float: none;
    border-right: none;
    height: 80vh;
    width: 80vh;
    display: block;
  }

  .main-title {
    font-size: 3.5em;
  }

  .sottotitolo {
    font-size: 2em;
  }

}


@media (max-width: 412px){
  .img-home {
    width: 100%;
    height: 170vh;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
  }
  
  #showcase-area {
    float: none;
    border-right: none;
    height: 100vh;
    width: 80vh;
    display: block;
  }

  .main-title {
    font-size: 3em;
  }

  .sottotitolo {
    font-size: 2em;
  }

}



.showcase-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100vh;
  align-items: center;
  }

.text-title {
  align-items: center !important;
  height: 50%;
  text-align: center;
  display: block;
}

  .lacrima {
    margin-top: 8em;
    height: 30%;
    align-items: center;
    width: 100%;
  }
  

.main-title {
  font-size: 5.5em;
  margin: 0;
  font-family: 'Asap Condensed', sans-serif;
    color: white;
    text-align: center;
    text-shadow: -1px -1px #329DF4, -3px -3px #EB8AB6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sottotitolo { 
    font-family: 'Asap Condensed', sans-serif;
    color: white;
    margin: 0px;
    text-align: center;
    text-shadow: -1px -1px #329DF4, -3px -3px #EB8AB6;
  font-size: 2em;
  width: 100%;
}






/*........... SEZIONE EVENTI ..........*/

#panel-eventi {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 2;
  font-family: 'Asap Condensed', sans-serif;
  text-align: center;
  align-items: center;
  color: #24262b;
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding-bottom: 6em;
}

.container {
  width: 100%;
  align-items: center;
}

.h2eventi {
  color: #24262b;
  font-size: 3em;
  padding-top: 0.8em;
}


.card {
  display: inline-block;
  text-align: center;
  background-color: #F7F7F7;
  border-color: #444;
  padding: 0px 0px 20px;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 40px;
  border-radius: 10px 10px 10px 10px;
  width: 16em;
  height: auto;
}

.card:hover {
  transform: scale(1.2);
  transition: transform 0.2s linear;
}

.card-img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.btn {
  border-radius: 30px;
  background-color: #329DF4;
	border: 2px solid #EB8AB6;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.card-title{
  margin-bottom: 0.3em;
  margin-top: 0.7em;
}

.card-text {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

h5 {
  font-size: 1.5em;
  padding-bottom: 0.3em;
}




@media (min-width: 412px) and (max-width: 500px) {
  
  #panel-eventi {
    font-size: 1.1em;
    float: none;
    height: 110vh;
    width: 80vh;
    display: inline-block;
    padding-bottom: 6em;
  }

  .card {
    display: inline-block;
    width: 13em;
    height: fit-content;
    padding: 0;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
    margin-top: 2.3em;
    margin-right: 1.5em;
    font-size: 0.8em;
  }

  .cardbody {
    margin-bottom: 5em !important;
  }

  .card-img {
    width: 100%;
    border-radius: 10px;
  }

  .card-text {
font-size: 1.1em;
  }

  .btn-primary {
    font-size: 1em;
    font-weight: bold;
    padding: 8px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 2em;
  }

  .h2eventi {
    margin: 0;
  }
  
}

@media (max-width: 412px) {
  
  #panel-eventi {
    font-size: 1em;
    float: none;
    height: 120vh;
    width: 80vh;
    display: inline-block;
  }

  .card {
    display: inline-block;
    width: 13em;
    height: fit-content;
    padding: 0;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
    margin-top: 2.3em;
    margin-right: 1.5em;
    font-size: 0.8em;
  }

  .cardbody {
    margin-bottom: 5em !important;
  }

  .card-img {
    width: 100%;
    border-radius: 10px;
  }

  .btn-primary {
    font-size: 1em;
    font-weight: bold;
    padding: 8px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 2em;
  }

  .h2eventi {
    margin: 0;
  }
  
}








/*......................... FOOTER ...........................*/

@media (min-width: 412px) and (max-width: 500px) {
  footer {
    float: none;
    border-right: none;
    height: 20vh;
    width: 80vh;
    display: inline-block;
  }
}


#panel-footer {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  font-family: 'Asap Condensed', sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.row{
  display: block;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.row2 {
  align-items: center;
  display: block;
}


ul{
  list-style: none;
}

.social-links {
  margin-left: 4em;
}



@media (min-width: 412px) and (max-width: 500px) {
  .footer-col {
    border-right: none;
    height: 20vh;
    width: 61vh;
    display: inline-flex;
    font-size: 1em;
  }
  .footer-col ul li a{
    font-size: 10px !important;
  }
  .footer-col{
   width: 25%;
   padding: 0 15px;
   display: inline-block;
}

.footer-col .social-links a {
  width: 22px !important;
  height: 22px !important;
  font-size: 8px;
  display: inline-block;
  line-height: 26px !important;
  margin-right: 5px !important;
  align-items: center;
}

.row2 {
  display: block;
}

.social-links {
  display: inline;
  margin-left: 15px !important;
}
}


@media (max-width: 412px) {
  .footer-col {
    border-right: none;
    height: 20vh;
    width: 80vh;
    display: inline-flex;
    font-size: 1em;
  }

  footer {
    width: 80vh;
    height: 100%;
  }

  .footer-col ul li a{
    font-size: 10px !important;
  }
  .footer-col{
   width: 25%;
   padding: 0 15px;
   display: inline-block;
}

.footer-col .social-links a {
  width: 25px !important;
  height: 25px !important;
  font-size: 10px;
  display: inline-block;
  line-height: 26px !important;
  margin-right: 5px !important;
}

.row2 {
  display: block;
  align-items: center;
}

.social-links {
  display: inline;
  margin-left: 0px !important;
}

.logo2 {
  height: 100px !important;
}
}



.footer-col h4{
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 35px;
  margin-left: 1em;
  font-weight: bold;
  text-align: center;
  font-family: 'Asap Condensed', sans-serif;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #329DF4;
  background-color: #EB8AB6;
}

h4 {
  margin-bottom: 20px;
}

.logo2 {
  width: 100%;
  height: 200px;
}

.fine {
  text-align: center;
  color: white;
  opacity: 0.5;
  font-size: 0.7em;
  margin-top: 0.7em;
}












