html {
  scroll-behavior: smooth;
}

@media (max-width: 500px) {
  #duepl {
  width: 62vh;
  height: 50vh !important;
  display: inline-block;
  }

  .panel-spotify {
    float: none;
    border-right: none;
    height: 80vh;
    width: 62vh;
    display: block;
  }

  .h2playlist {
    font-size: 2em !important;
    margin-bottom: 0;
    width: 62vh;
  }

  span {
    font-size: 0.7em !important;
  }

  .box-playlist {
    width: 130px !important;
    height: 180px !important;
    font-size: 0.5em;
  }

  .text-playlist {
    padding: 5px !important;
  }

  .container-reg {
    height: 320px !important;
  }

}

@media (max-width: 400px) {
  #duepl {
  width: 78vh;
  height: 50vh !important;
  display: inline-block;
  }

  .panel-spotify {
    float: none;
    border-right: none;
    height: 80vh;
    width: 80vh;
    display: block;
  }

  .h2playlist {
    font-size: 1.5em !important;
    width: 80vh;
    margin-bottom: 1em;
  }

  span {
    font-size: 0.6em !important;
  }

  .box-playlist {
    width: 130px !important;
    height: 180px !important;
    font-size: 0.6em;
  }

  .text-playlist {
    padding: 5px !important;
  }

  .container-reg {
    height: 320px !important;
  }

}

.panel-spotify {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
  align-items: center;
  color: white;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 0;
}


.box-playlist {
    display: inline-block;
    text-align: center;
    width: 300px;
    background-color: #333;
    border: 1px solid black;
    border-color: #444;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
    transition: 0.7s;
    border-radius: 10px 10px 10px 10px;
    align-items: right;
    padding-right: 0;
    margin: 2em;
  }

 
.sfondo {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
 

  .box-playlist:hover {
    transform: scale(1.1);
    transition: transform 0.3s linear;
  }

  .h2playlist {
    font-size: 4em;
    text-align: center;
    margin-top: 1.5em;
    text-shadow: 3px 3px #329DF4, 2px 2px 2px #FA6C98, 4px 4px #FA6C98, 2px 2px 2px #FA6C98;
  }
  
  .img-box-playlist {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .img-box-playlist img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.3s;
    border-radius: 10px 10px 0px 0px;
  }
  
  .text-playlist {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }



  .text-playlist .box-title {
    color: #329DF4;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
  }
  
  .text-playlist .box-title:hover {
    color:#329DF4;
    transition: all ease 0.3s;
  }
  
  .box-playlist-link  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #2BFF75;
    font-size: 55px;
    box-shadow: 2px 2px 30px rgba(20,97,212,0.12);
  }

  @media (max-width: 900px) {
    .box-playlist-link {
      font-size: 22px !important;
    }
  }
  
  .box-playlist:hover .img-box-playlist a {
    display: flex;
  }
  
  .box-playlist:hover .img-box-playlist img {
    filter: blur(3px);
  }
  


  /*............... BOX ..................*/

#duepl {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          padding-bottom: 6em;
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }

    @media (max-width: 400px) {
     #duepl {
      float: none;
      border-right: none;
      height: 80vh;
      width: 78vh;
      display: inline-block;
     }
    }
  
      
      span {
          font-size: 1.3em;
          color: white;
          padding-right: 2%;
      }
      
      .areg {
          color: #333;
          font-size: 16px;
          text-decoration: none;
          margin: 15px 0;
      }
      
      .btn-login {
          border-radius: 20px;
          border: 1px solid #FA6C98;
          color: #329DF4;
          font-size: 12px;
          font-weight: bold;
          padding: 12px 45px;
          letter-spacing: 1px;
          text-transform: uppercase;
          transition: transform 80ms ease-in;
      }
      
      form {
          background-color: -webkit-linear-gradient(to right, #FFFFFF, #FA78E9);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 50px;
          height: 100%;
          text-align: center;
      }
      
      
      .container-reg {
          z-index: 1;
        background-color: #fff;
          border-radius: 10px;
            box-shadow: 20px 20px 20px rgba(0,0,0,0.25), 20px 20px 20px rgba(0,0,0,0.22);
          position: relative;
          overflow: hidden;
          width: 1300px;
          max-width: 100%;
          height: 650px;
      }
      
      .form-container-reg {
          position: absolute;
          top: 0;
          height: 100%;
      }
      
      .container-login {
          left: 0;
          width: 50%;
          z-index: 2;
      }
      
      
      .overlay-container {
          position: absolute;
          top: 0;
          left: 50%;
          width: 50%;
          height: 100%;
      }
      
      
      .overlay {
          background: #329DF4;
          background: -webkit-linear-gradient(to right, #FFFFFF, #EB8AB6);
          background: linear-gradient(to right, #EB8AB6, #329DF4);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 0 0;
          color: #FFFFFF;
          position: relative;
          left: -100%;
          height: 100%;
          width: 200%;
        text-align: center;
      }
      
      .overlay-panel {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 0px;
          text-align: center;
          top: 0;
          height: 100%;
          width: 50%;
      }
      
      
      .overlay-right {
          right: 0;
      }
      
      .social-container {
          margin: 10px 0;
          margin-top: 20px;
      }
      
      .social-container a {
          border: 1px solid #DDDDDD;
          border-radius: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0 5px;
          height: 40px;
          width: 40px;
      }
      
      .box-playlist {
        display: inline-block;
        text-align: center;
        width: 300px;
        background-color: #333;
        border: 1px solid black;
        border-color: #444;
        box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
        transition: 0.7s;
        border-radius: 10px 10px 10px 10px;
        align-items: right;
        padding-right: 0;
        margin: 2em;
        margin-bottom: 0;
      }
      
      .box-playlist:hover {
        transform: scale(1.2);
        transition: transform 0.3s linear;
      }
      
      .img-box-playlist {
        width: 100%;
        height: auto;
        position: relative;
      }
      
      .img-box-playlist img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all ease 0.3s;
        border-radius: 10px 10px 0px 0px;
      }
      
      .text-playlist {
        padding: 15px;
        display: flex;
        flex-direction: column;
      }
      
      .text-playlist .box-title {
        color: #329DF4;
        font-size: 1.5em;
        font-weight: 500;
        color: white;
      }
      
      .text-playlist .box-title:hover {
        color:#329DF4;
        transition: all ease 0.3s;
      }
      
      .box-playlist-link  {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        height: 30%;
        border-radius: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #333;
        color: #2BFF75;
        font-size: 55px;
        box-shadow: 2px 2px 30px rgba(20,97,212,0.12);
      }
      
      .box-playlist:hover .img-box-playlist a {
        display: flex;
      }
      
      .box-playlist:hover .img-box-playlist img {
        filter: blur(3px);
      }
    


