
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0;
}


.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  font-weight: small;
  border-radius: 30px;
  background-color: #329DF4;
	border: 4px solid #fff;
	color: white;
	font-size: 35px;
	font-weight: bold;
	padding: 15px 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in !important;
}

.btn-registrati {
  color: #fff;
  background: #329DF4;
  font-family: 'Asap Condensed', sans-serif;
}

.btn-registrati:hover {
  background: #329DF4;
  transform: scale(1.2) !important;
  transition: transform 0.2s linear !important;
}




.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: white;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.menu-items a:hover {
  color: #329DF4;
  transition: color 0.3s ease-in-out;
}


.logo {
  margin-bottom: 0.5rem;
  height: 150px;
  width: auto;
}


/* ............//// Prima sezione ////......... */

.showcase-area {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.8rem;
  }


.main-title {
  text-transform: uprpercase;
  margin-top: 0em;
  font-size: 130px;
}


h1, .sottotitolo {
    font-family: 'Asap Condensed', sans-serif;
    color: white;
    margin: 0px;
    line-height: 140%;
    text-align: center;
    text-shadow: 3px 3px #329DF4, 2px 2px 2px #FA6C98, 4px 4px #FA6C98, 2px 2px 2px #FA6C98;
}

.sottotitolo {
  font-size: 50px;
}

.h2eventi {
  font-family: 'Bebas Neue', cursive;
  color: #329DF4;
  text-shadow: 1.5px 0 #FA78E9, 2px 2px 2px #FA6C98, 1.5px 0px #FA6C98, 0 2px 2px #FA6C98;
  padding-top: 0px;
  padding-bottom: 0px;
}

.sezioneeventi {
  font-family: 'Asap Condensed', sans-serif;
  padding: 0px 0px 5px 20px;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 70px;
}

.card {
  display: inline-block;
  text-align: center;
  background-color: white;
  border-color: #444;
  padding: 0px 0px 20px;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 15px;
  border-radius: 10px 10px 10px 10px;
}

.card:hover {
  transform: scale(1.2);
  transition: transform 0.2s linear;
}

.card-img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.btn-primary {
  border-radius: 30px;
  background-color: #329DF4;
	border: 1px solid #FF416C;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.card-title{
  margin-bottom: 0;
}
.card-text {
  margin-top: 0;
}

h5 {
  font-size: 1em;
}


.bodyregistrati {
  background-repeat: no-repeat;
  background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -20px 0 50px;
}

.h1reg {
  font-weight: bold;
	margin-bottom: 20px;
}

.preg {
	font-size: 16px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 10px 0 30px;
}

span {
	font-size: 16px;
}

.areg {
	color: #333;
	font-size: 16px;
	text-decoration: none;
	margin: 15px 0;
}

.btn-login {
	border-radius: 20px;
	border: 1px solid #FA6C98;
	color: #329DF4;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container-reg {
	z-index: 1;
  background-color: #fff;
	border-radius: 10px;
  	box-shadow: 20px 20px 20px rgba(0,0,0,0.25), 20px 20px 20px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container-reg {
	position: absolute;
	top: 0;
	height: 100%;
}

.container-login {
	left: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	background: #329DF4;
	background: -webkit-linear-gradient(to right, #FA78E9, #329DF4);
	background: linear-gradient(to right, #FA78E9, #329DF4);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  text-align: center;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 0px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}

.social-container {
	margin: 10px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.pass {
  margin-bottom: 20px;
}

.img1-serate {
  height: 400px;
  width: auto;
  margin-top: 50px;
}

.imgs-photobox {
  height: 400px;
  width: auto;
  margin-top: 50px;
}

.playlist {
  margin-top: 0px;
  padding-bottom: 80px;
}

.box-container {
  display: inline-flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
}

.box-playlist {
  display: block;
  text-align: center;
  width: 400px;
  background-color: #333;
  border: 1px solid black;
  border-color: #444;
  padding: 0px 0px 20px;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
  transition: 0.7s;
  border-radius: 10px 10px 10px 10px;
  align-items: right;
  margin-left: 120px;
  margin-top: 90px;
}

.box-playlist:hover {
  transform: scale(1.2);
  transition: transform 0.3s linear;
}

.img-box-playlist {
  width: 100%;
  height: auto;
  position: relative;
}

.img-box-playlist img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease 0.3s;
  border-radius: 10px 10px 0px 0px;
}

.playlist {
  background-color: #444;
  padding-top: 0px;
  font-family: 'Asap Condensed', sans-serif;
  margin: 0px;
}

.text-playlist {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.text-playlist .box-title {
  color: #329DF4;
  font-size: 1.5em;
  font-weight: 500;
  color: white;
}

.text-playlist .box-title:hover {
  color:#329DF4;
  transition: all ease 0.3s;
}

.box-playlist-link  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #2BFF75;
  font-size: 55px;
  box-shadow: 2px 2px 30px rgba(20,97,212,0.12);
}

.box-playlist:hover .img-box-playlist a {
  display: flex;
}

.box-playlist:hover .img-box-playlist img {
  filter: blur(3px);
}

.text-left {
  text-align: left;
  color: white;
  text-shadow: 3px 3px #329DF4, 2px 2px 2px #329DF4, 4px 4px #FA6C98, 2px 2px 2px #FA6C98;
  font-size: 55px;
  padding-top: 150px;
  padding-left: 70px;
}

p {
  margin: 20px;
}

.text-social {
  margin: 0px;
}

.social-container {
  margin-top: 20px;
}

.fa-instagram {
  font-size: 20px;
}




