body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  margin: 0;
  background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
}

/*.........../// MEDIA QUERY ///................*/
/*.... <600px, 601px, 768px, 992px, 1200px> ....*/

@media only screen and (max-width: 500px) and (orientation: landscape){
  .wrapper-main{
    width: 100%;
  }
}

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: small;
  border-radius: 30px;
  background-color: #329DF4;
	border: 4px solid #fff;
	color: white;
	font-size: 1.8em;
	font-weight: bold;
	padding: 15px 35px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 80ms ease-in !important;
}

.btn-registrati {
  color: #fff;
  background: #329DF4;
  font-family: 'Asap Condensed', sans-serif;
}

.btn-registrati:hover {
  background: #329DF4;
  transform: scale(1.2) !important;
  transition: 0.2s linear !important;
}


/*......... NAVBAR ........*/

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: white;
  opacity: 0.85;
  height: 3.25em;
  z-index: 12;
}

nav ul {
  float: left;
  margin-left: 20px;
}

nav ul li {
  display: inline-block;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

nav ul li a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #329DF4;
  transition: color 0.3s ease-in-out;
}


@media (max-width: 500px) {
  
  .bodypage {
    border-right: none;
    padding: 0;
    margin-right: 0px;
  }

  .navbar {
    float: none;
    display: block;
  }



@media (max-width: 600px) {
  nav ul li a {
    font-size: 0.55em;
  }
}

}




.logo {
  margin-bottom: 0.5rem;
  height: 150px;
  width: auto;
}



/* ............//// PAGINA HOME ////......... */

.showcase-area {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 500px) {
  .showcase-area {
    border-right: none;
    height: 80vh;
    width: 62vh;
    float: none;
    display: block;
  }
}


.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  }


.main-title {
  margin-top: 0em;
  font-size: 5em;
  display: block;
  font-family: 'Asap Condensed', sans-serif;
    color: white;
    margin: 0px;
    text-align: center;
    text-shadow: 3px 3px #329DF4, 2px 2px 2px #FA6C98, 4px 4px #FA6C98, 2px 2px 2px #FA6C98;
}

.sottotitolo { 
    font-family: 'Asap Condensed', sans-serif;
    color: white;
    margin: 0px;
    text-align: center;
    text-shadow: 3px 3px #329DF4, 2px 2px 2px #FA6C98, 4px 4px #FA6C98, 2px 2px 2px #FA6C98;
  font-size: 2em;
}


@media (max-width: 500px) {
  .main-title {
    font-size: 3.5em;
  }

  .sottotitolo {
    font-size: 2em;
  }
}




/*........... SEZIONE EVENTI ..........*/

.h2eventi {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 2em;
}

.sezioneeventi {
  font-family: 'Asap Condensed', sans-serif;
  padding: 0px 0px 5px 20px;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2em;
}

.card {
  display: inline-block;
  text-align: center;
  background-color: white;
  border-color: #444;
  padding: 0px 0px 20px;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 15px;
  border-radius: 10px 10px 10px 10px;
  width: 10em;
  height: auto;
}

.card:hover {
  transform: scale(1.2);
  transition: transform 0.2s linear;
}

.card-img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.btn-primary {
  border-radius: 30px;
  background-color: #329DF4;
	border: 1px solid #FF416C;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.card-title{
  margin-bottom: 0;
}

.card-text {
  margin-top: 0;
}

h5 {
  font-size: 1em;
}


@media (max-width: 500px) {
  
  .sezioneeventi {
    font-size: 1em;
  }

  .card {
    display: inline-flex;
    width: 12em;
    height: 12em;
    padding: 0 0 0 0;
  }

  .card-body {
    margin-left: 30px;
  }

  .card-img {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
  }

  .btn-primary {
    font-size: 1em;
    font-weight: bold;
    padding: 8px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  

}


/*............ SPOTIFY ..........*/

.title-spotify {
  margin: 0px
}

.h2playlist {
  text-align: center;
  margin-top: 20px;
  font-size: 60px
}


@media (max-width: 500px) {
  .h2playlist {
    font-size: 2em;
    margin-top: 2em;
  }

  .title-spotify {
    width: 55vh;
  }
}


.box-spotify {
  margin: 120px 60px 90px 100px;
  height: 400px;
  width: auto;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
  transition: 0.7s;
}

.box-spotify:hover {
  transform: scale(1.2);
  transition: transform 0.3s linear;
}


.playlist {
  margin-top: 0px;
  padding-bottom: 80px;
}

.box-container {
  display: inline-flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
}

.box-playlist {
  display: block;
  text-align: center;
  width: 400px;
  background-color: #333;
  border: 1px solid black;
  border-color: #444;
  padding-top: 0px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
  transition: 0.7s;
  border-radius: 10px 10px 10px 10px;
  align-items: right;
  margin-left: 120px;
  margin-top: 40px;
}

.box-playlist:hover {
  transform: scale(1.2);
  transition: transform 0.3s linear;
}

.img-box-playlist {
  width: 100%;
  height: auto;
  position: relative;
}

.img-box-playlist img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease 0.3s;
  border-radius: 10px 10px 0px 0px;
}

.playlist {
  background-color: #444;
  padding-top: 0px;
  font-family: 'Asap Condensed', sans-serif;
  margin: 0px;
}

.text-playlist {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.text-playlist .box-title {
  color: #329DF4;
  font-size: 1.5em;
  font-weight: 500;
  color: white;
}

.text-playlist .box-title:hover {
  color:#329DF4;
  transition: all ease 0.3s;
}

.box-playlist-link  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #2BFF75;
  font-size: 55px;
  box-shadow: 2px 2px 30px rgba(20,97,212,0.12);
}

.box-playlist:hover .img-box-playlist a {
  display: flex;
}

.box-playlist:hover .img-box-playlist img {
  filter: blur(3px);
}

.text-left {
  text-align: left;
  color: white;
  font-size: 40px;
  padding-top: 50px;
  padding-left: 70px;
}

.p-playlist {
  margin-top: 120px;
}

.text-right {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 70px;
  color: white;
  font-size: 40px;
}

.text-social {
  margin: 0px;
}

.social-container {
  margin-top: 20px;
}

.fa-instagram {
  font-size: 20px;
}




