.bodyregistrati {
  background-repeat: no-repeat;
    background-size: cover;
      justify-content: center;
      align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
}

/*......... NAVBAR ........*/

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  width: 100%;
  background: #fff;
  color: white;
  opacity: 0.85;
  height: 4em;
  z-index: 12;
  text-align: center;
  align-items: center !important;
  display: inline-block;
}

.active {
  color: #329DF4;
}

.link-reg {
  float: right;
  margin-right: 2em;
}

nav ul li {
  float: left;
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 2em;
  align-items: center;
  padding-top: 0em;
}

nav ul li a {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Asap Condensed', sans-serif;
}

nav ul li a:hover {
  color: #329DF4;
  transition: color 0.3s ease-in-out;
}

/*---------- MEDIA NAVBAR ------------*/

@media (max-width: 1000px) {
nav ul li {
  display: inline-block;
  font-size: 1.1rem;
  margin-left: 2em;
  align-items: center;
  padding-top: 0em;
}
}

@media (max-width: 800px) {
  nav ul li {
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 2em;
    align-items: center;
    padding-top: 0em;
  }

  .navbar {
    height: 3em
  }
  }


  @media (max-width: 600px) {
    nav ul li {
      display: inline-block;
      font-size: 0.8rem;
      margin-left: 2em;
      align-items: center;
      padding-top: 0em;
    }
  
    .navbar {
      height: 2.5em
    }
    }




@media (max-width: 500px) {
  .navbar {
    display: inline-block;
    height: 3.2em;
  }

  nav ul li {
    font-size: 1em;
    margin-left: 0.6em;
  }

}


@media (max-width: 400px) {

  .navbar {
    display: inline-block;
    height: 3.2em;
  }

  nav ul li {
    font-size: 0.8em;
    margin-left: 0.4em;
  }

}



.panel-registrati {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}




.h2reg {
  text-shadow: -1px -1px #329DF4, -3px -3px #EB8AB6;
  font-size: 1.8em;
  font-family: 'Asap Condensed', sans-serif;
  margin: 0;
}

p{
  margin: 0;
}

.p1 {
  margin-top: 0.4em;
}
  
  span {
      font-size: 16px;
      margin-left: 15px;
      margin-right: 15px;
  }
  
  
  form {
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 50px;
      height: 100%;
      text-align: center;
  }
  
  .container-reg {
      z-index: 1;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 20px 20px 20px rgba(0,0,0,0.25), 20px 20px 20px rgba(0,0,0,0.22);
      position: relative;
      overflow: hidden;
      width: 768px;
      height: 480px;
      text-align: center;
  }
  
  @media (max-width: 500px) {
    .container-reg {
      height: 300px;
      width: 370px;
  }

  span {
    font-size: 0.8em;
  }

  form {
    padding: 0;
    text-align: center;
}

.btn-accedi, .btn-registrati {
  font-size: 0.8em !important;
  font-weight: bold;
  padding: 8px 25px !important;
  background-color: #fff;
  margin-top: 0;
  font-family: 'Asap Condensed', sans-serif;
  margin-top: 0.7em;
}

.logo {
  height: 80px !important;
  width: auto;
}

.overlay-right {
  font-size: 0.6em;
}

.social {
  font-size: 15px !important;
}

.h2reg {
  text-shadow: -1px -1px #329DF4, -2px -2px #EB8AB6;
  font-size: 2em;
  font-family: 'Asap Condensed', sans-serif;
  margin-bottom: 0;
}

}

  .form-container-reg {
      position: absolute;
      top: 0;
      height: 100%;
  }
  
  .container-login {
      left: 0;
      width: 50%;
      z-index: 2;
  }
  
  
  .overlay-container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
  }
  
  
  .overlay {
      background: #329DF4;
      background: -webkit-linear-gradient(to right, white, #329DF4);
      background: linear-gradient(to right, #FA6C98, #329DF4);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      color: #FFFFFF;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      text-align: center;
  }
  
  .overlay-panel {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 0px;
      text-align: center;
      top: 0;
      height: 100%;
      width: 50%;
  }
  
  
  .overlay-right {
      right: 0;
  }

  .text-social {
    font-size: 0.7em;
  }
  
  .social-container {
      margin: 10px;
  }
  
  .social-container a {
      border: 1px solid #DDDDDD;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
      font-size: 20px;
  }
  
  .pass {
    margin-bottom: 20px;
  }

  .logo {
    height: 100px;
    width: auto;
  }

  .btn-accedi, .btn-registrati {
    border-radius: 20px;
    border: 3px solid #FA6C98;
    color: #329DF4;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 50px;
    letter-spacing: 1px;
    background-color: #fff;
    margin-top: 0;
    font-family: 'Asap Condensed', sans-serif;
    margin-top: 0.7em;
  }

  .btn-accedi a, .btn-registrati a {
    text-decoration: none;
    color: #329DF4;
  }

  .btn-accedi:hover a {
    color:#FFFFFF;
    transition: all ease 0.3s;
  }

  .btn-registrati:hover a {
    color:#FFFFFF;
    transition: all ease 0.3s;
  }

  .btn-registrati {
    margin-bottom: 2em;
  }

  
  .btn-accedi:hover {
    color:#FFFFFF;
    background-color: #329DF4;
    transition: all ease 0.3s;
  }

  .btn-registrati:hover {
    color:#FFFFFF;
    background-color: #329DF4;
    transition: all ease 0.3s;
  }

  .social {
    text-decoration: none;
    color: white
  }

  .social:hover {
    color: #329DF4;
    background-color: #EB8AB6;
    transition: all ease 0.3s;
  }

  .active {
    color: #329DF4;
  }