html {
  scroll-behavior: smooth;
}

.panel-merch {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  display: inline-block;
  padding-bottom: 6em;
  padding-top: 4em;
  background: white;
}


@media (max-width: 500px) {
  .panel-merch{
    float: none;
    border-right: none;
    height: 80vh;
    width: 62vh;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 18em;
  }

  .slider-container {
    display: inline !important;
  }


  .text-merch,
  .video {
    margin-left: 0 !important;
    margin-top: 2em !important;
    font-size: 1.8em !important;
  }
}

@media (max-width: 400px) {
  .panel-merch {
    float: none;
    border-right: none;
    height: 90vh;
    width: 80vh;
    display: inline-block;
    padding-bottom: 25em !important;
  }
}


.text-merch {
    margin-bottom: 0;
    font-size: 2em;
    margin-left: 5em;
    text-align: center;
    color: #F7F7F7;
    text-shadow: -2px 0 #FA6C98, 0px 2px #329DF4, 2px 0 #329DF4, 0 -2px #329DF4;
  }
  
  .slider-container {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 4em;
    padding-top: 0;
    padding-bottom: 4em;
    text-align: center;
  }


 
  

  .div-video {
    margin-top: 2em;
    width: 100%;
    display: inline-block;
  }

  .video {
    width: 412px !important;
    height: 445px !important;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.25), 10px 10px 10px rgba(0,0,0,0.22);
    margin-left: 9em;
    display: inline;
  } 

  
  
  .btn-acquista {
    border-radius: 20px;
    border: 3px solid #FA6C98;
    color: #329DF4;
    font-size: 1.3em;
    font-weight: bold;
    padding: 15px 50px;
    letter-spacing: 1px;
    background-color: #fff;
    margin-top: 1em;
    font-family: 'Asap Condensed', sans-serif;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.25), 20px 20px 20px rgba(0,0,0,0.22);
  }

  .btn-acquista:hover {
    background-color: #329DF4;
    transition: all ease 0.3s;
  }
  
  .btn-acquista a {
    text-decoration: none;
    color: #329DF4;
  }

  .btn-acquista:hover a {
    color:#FFFFFF;
    transition: all ease 0.3s;
  }

  .logo {
    width: 400px;
    height: 120px;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }















  /*-------------------- SLIDER PROVA ----------------------------*/